<div class="container">
  <h3>{{tittle}}</h3>

  <form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">
    <label for="name">Add new pending:</label>
    <input type="text" name="name" #name="ngModel" [(ngModel)]="pending.name" required placeholder="New Pending">
    <button type="submit" [disabled]="projectForm.invalid">Add</button>

    <!-- Mensaje de error -->
    <div *ngIf="name.invalid && name.touched" class="error-message">
      El campo es obligatorio
    </div>
  </form>
</div>