/* Estilos para el listado de pendientes  */
.container {
  width: 70%;
  margin: 0 auto;
  padding-top: 15px;
}

.container>h3 {
  margin-left: 210px;
  margin-bottom: 10px;
  text-decoration: underline;
}

.container ul {
  padding: 10px;
  margin: 0;
  max-height: 500px;
  overflow-y: auto;
  border-radius: 8px;
  background-color: rgba(249, 112, 0, );
  border: 2px solid rgba(249, 112, 0, 0.25);
  border-radius: 7px;
}

.container ul li {
  background-color: #ffe3cc;
  border: 1px solid rgba(249, 112, 0, 0.3);
  border-radius: 5px;
  padding: 12px 12px;
  margin-bottom: 8px;
  transition: background-color 0.2s ease;
}

.container ul li:hover {
  background-color: #d69963;
}


/* Estilo personalizado del scrollbar */
.container ul::-webkit-scrollbar {
  width: 20px;
}

.container ul::-webkit-scrollbar-track {
  background: #ffe3cc;
  border-radius: 10px;
}

.container ul::-webkit-scrollbar-thumb {
  background: rgb(249, 112, 0);
  border-radius: 10px;
  border: 2px solid #ffe3cc;
  transition: all 500ms ease;
}

.container ul::-webkit-scrollbar-thumb:hover {
  background: #cc5800;
}

.delete-btn {
  background-color: #ff4d4f;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, transform 0.2s;
}

.delete-btn:hover {
  background-color: #d9363e;
  transform: scale(1.1);
  /* efecto ligero al pasar el mouse */
}

.pending-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  margin-bottom: 5px;
  background-color: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #ddd;
  max-width: 100%;
  word-break: break-word;
  overflow-wrap: break-word;
}

.pending-item:hover {
  background-color: #f1f1f1;
  /* efecto hover */
}

.pending-item p {
  max-width: 90%;
}